luigi==3.0.3
pykube==0.15.0
flask==1.1.2
Jinja2==3.0.3
Werkzeug==2.0.2
itsdangerous==2.0.1
gunicorn==20.0.4
requests==2.22.0
pymongo==3.8.0
python-dateutil==2.8.1
boto3==1.13.4
click==7.0
openpyxl==3.0.4
scikit-learn==0.23.2
nltk==3.4.4
spacy==3.0.0
jieba==0.39
opencv-python==4.4.0.44
jellyfish==0.8.2
fuzzywuzzy==0.17.0
pychountry==20.7.3
joblib==0.17
numpy==1.17.3
scikit-image==0.18.0
opencv-python==4.4.0.44
boxdetect==1.0.0
pandas==1.0.3
pdf-annotate==0.11.0
exchangelib==2.1.1
python-dateutil==2.8.0
shapely==1.7.1
outlook_msg==1.0.0
langdetect==1.0.8
datefinder==0.7.1
names_dataset==2.0.1
prettytable==2.2.0
xlsxWriter==3.0.1